body{
  margin-left: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
  width: 20%;
  min-width: 200px;
  gap: 20px;
}

span {
  color: red;
}
p {
  margin: 10px 0;

}

.contacts-list {
  display: flex;
  gap: 50px;
}
