*{
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.app {
  text-align: center;
  display: flex;
  justify-content: space-around;
  padding: 25px 0;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}

.header-container {
  display: flex;
  gap: 20px;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

li button {
  margin: 0 20px;
}


li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
}
